* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #5f9341;
}

body {
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    /* border: red 1px solid; */
}

#input-el {
    height: 40px;
    border: var(--main-color) 1px solid;
    padding: 10px;  /* Get the cursor away from the edge */
}

#input-btn {
    height: 40px;
    width: 130px;
    margin-top: 5px;
    font-weight:bold;
    font-size: .95rem;
    background-color: var(--main-color);
    border: none;
    color: linen;
}

#ul-el {
    margin-left: 40px;
    margin-top: 15px;
}