* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top-margin: 20px;
    padding-top: 30px;
}

h1{
    font-size: 40px;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

#increment-btn {
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: rgb(117, 175, 197);
}