* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    text-align: center;
    background-color: darkgreen;
    color: linen;
}

h1 {
    color: goldenrod;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}