* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    padding-top: 25px;
}

#apple-shelf,
#orange-shelf {
    background-color: rgb(221, 149, 149);
    width: 75vw;
    height: 50px;
    margin-top: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#orange-shelf {
    background-color: rgb(236, 190, 105);
}
